# System files
.DS_Store
Thumbs.db
AppData/
NTUSER.DAT*
ntuser.ini

# IDE/editor files
.vscode/
.idea/
*.log

# Backup or sensitive files
*.key
*.pem
*.bak

# Other unnecessary files
node_modules/
.VirtualBox/
.android/
